# Python-specific ignores
__pycache__/
*.pyc
*.pyo
*.pyd
*.py[co]

# Virtual environment
venv/
env/
ENV/
env.bak/
venv.bak/

# PyQt5 UI files
*.ui

# SQLite database
*.db
*.sqlite
*.sqlite3

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.idea/
.vscode/
*.suo
*.ntvs_analysis.dat
*.nib
*.swp
*.swo
*.sublime-workspace
*.sublime-project

# Jupyter Notebook
.ipynb_checkpoints/

# Environment variables
.env
